*{
  cursor: none;
}
.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.titulo-h1{
  font-size: 8rem;
  color: white;
  text-transform: capitalize;
}
.titulo-cursor{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}